html, body {
  width: 100%;
  margin: 0 0 0 0;
  text-align: center;
  position: relative;
  font-family: Arial, sans-serif; }

body * {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.exercise-wrapper {
  position: relative;
  width: 100%;
  overflow: hidden; }
  .exercise-wrapper:after {
    content: "";
    clear: both;
    display: block; }
  .exercise-wrapper .grid-data {
    width: calc(100% - 150px);
    height: 400px;
    overflow-y: auto;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out; }
  .exercise-wrapper table {
    width: 100%;
    float: left;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    border-collapse: collapse; }
    .exercise-wrapper table tr {
      border-bottom: 1px solid #ddd;
      border-collapse: collapse; }
      .exercise-wrapper table tr:nth-child(even) {
        background-color: #f1f1f1; }
      .exercise-wrapper table tr:first-child {
        border-bottom: 2px solid #000; }
    .exercise-wrapper table td, .exercise-wrapper table th {
      padding: 10px 10px;
      text-align: center;
      border-collapse: collapse; }
  .exercise-wrapper .action-buttons {
    width: 150px;
    position: absolute;
    top: 0;
    bottom: 0;
    background: #5f5f5f;
    right: 0;
    -moz-transition: 0.3s ease-in-out;
    -o-transition: 0.3s ease-in-out;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
    font-weight: bold; }
    .exercise-wrapper .action-buttons .core-btns {
      position: absolute;
      top: 0;
      left: 0;
      width: 150px;
      bottom: 20%; }
    .exercise-wrapper .action-buttons .expanded-btns {
      position: absolute;
      top: 0;
      left: 150px;
      width: 300px;
      bottom: 20%; }
    .exercise-wrapper .action-buttons .action-btn {
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      height: 25%;
      background: #e98824;
      color: #fff;
      display: inline-block;
      float: left;
      width: 150px;
      border: 2px solid #5f5f5f;
      border-radius: 10px;
      padding-top: 27px;
      cursor: pointer; }
      .exercise-wrapper .action-buttons .action-btn:hover {
        background: #f26e3c; }
    .exercise-wrapper .action-buttons .expand-btn {
      -moz-transition: 0.3s ease-in-out;
      -o-transition: 0.3s ease-in-out;
      -webkit-transition: 0.3s ease-in-out;
      transition: 0.3s ease-in-out;
      position: absolute;
      width: 100%;
      border-radius: 10px;
      background: #e98824;
      bottom: 0;
      right: 0;
      left: 0;
      height: 20%;
      color: #fff;
      cursor: pointer;
      padding-top: 27px; }
      .exercise-wrapper .action-buttons .expand-btn:hover {
        background: #f26e3c; }
      .exercise-wrapper .action-buttons .expand-btn .less {
        display: none; }
  .exercise-wrapper.open .grid-data {
    width: calc(100% - 450px); }
  .exercise-wrapper.open .action-buttons {
    width: 450px; }
    .exercise-wrapper.open .action-buttons .expand-btn {
      background: #d13393; }
      .exercise-wrapper.open .action-buttons .expand-btn .less {
        display: inline; }
      .exercise-wrapper.open .action-buttons .expand-btn .more {
        display: none; }
